# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
apps/api/prisma/migrations/dev.db*

# Uploads (documenten — lokale opslag, in productie S3)
uploads/
apps/api/uploads/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Testing
coverage/
.nyc_output/

# Misc
tmp/
temp/
*.pem
